/* Table CSS */

tr {
    background: white;
    cursor: pointer;
}

td {
    border-top: 1px solid white;/* Standard */
}

td, label {
    -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.datatables {
    line-height: 0.6 !important;
}

.dataTable-no-footer {
    border-bottom:  1px solid #e3e3e3;
}

.dataTables_scrollBody {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none !important;
}

/* Text Input CSS */

input:invalid {
    border: 1px solid;
    border-radius: 4px;
    outline:none !important;
    border-color: #dc3545 !important;
    box-shadow:0 0 14px #dc3545 !important;
}

input, .form-control {
    /*border: 1px white !important;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input:focus:not(:invalid) {
    /*border: 1px solid; /**/
    outline:none !important;
    border-color:#9ecaed !important;
     box-shadow: 0px 0px 14px #4195fc !important;
    -moz-box-shadow: 0px 0px 14px #4195fc !important;
    -webkit-box-shadow: 0px 0px 14px #4195fc !important;
}

/* Other */

#dirButton {
    overflow: hidden !important;
}

.templateDetails {
    justify-content: center;
                             align-items: center;
                             padding-left: 20px;
                             padding-top: 10px;
                             background: #f5f5f5;
                        border: 1px solid #e3e3e3;
                        border-radius: 4px;
}